body {
  color: white;
  font-family: 'Press Start 2P';
  background: rgb(42, 42, 42);
  font-size: 12px;
}

#phaser {
  width: 640px;
}

.container {
  width: 640px;
  margin-right: auto;
  margin-left: auto;
}